# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

client/src/client
client/.idea/
client/latency-samples/
client/cloudlab-latency-samples/
client/src/only-plot.txt
client/experiments/composite.json
client/endpoints/aws.csv
client/src/experiment/networking/gRPC/proto_gen/
client/functions/.idea/
client/functions/benchmarking.zip
client/functions/producer-handler
client/functions/random.file
utils/
